*{
    margin:0px;
    padding:0px;
}

.login{
    display:flex;
    justify-content: center;
    margin:auto;
    padding:4px;
    background:rgba(0,0,0,0.7) url('../images/resized.jpg');
    background-blend-mode:darken;
}

.firstHalf{
    margin-top:100px;
    margin-right:50px;
    width:10%;
    height: 20%;
    color:white;
}
.loginPage{
    border:solid 2px white;
    margin-top:100px;
    margin-bottom:250px;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: none;
}

.loginInput{
 border:none;
 border-radius: 5px;
 padding:10px;
 font-size:20px;;
 margin:10px;
 margin-bottom:20px; 
 justify-content: center;
 align-items: center;  
}

#para1{
    display:flex;
    font-size: 30px;
    margin-top: 15px;
    margin-bottom: 40px;
    justify-content: center;
    color:white;
}

.lgbuton{
    display:flex;
    justify-content: center;
    margin:10px;
    margin-bottom: 20px;
}

.loginBtn{
    color: white;
    background-color: black;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
}

.loginBtn:hover{
    background-color: rgb(40, 21, 21);
    border:2px solid rgb(40,21,21);
}