*{
    margin:0;
    padding:0;
}

.st-background{
    margin-top: 0;
    padding-top: 40px;
}

.head-text{
    font-size: 60px;
    display: flex;
    justify-content: center;
}
.st-page{
    display: flex;
    justify-content: center;
    color: white;
}

.firstHalf{
    margin-top:50px;
    margin-bottom:50px;
    margin-left:200px;
    padding-left:300px;
    display: flex;
    flex-direction: row;
    padding-bottom: 30px;
}

ul{
    list-style: none;

}

.selectionPage{
    margin-left:200px;
}

.button{
    color:white;
    padding:5px;
    background-color: black;
    margin:5px;
    size:10px;
    padding-left: 10px;
    padding-right:10px;
}

.button:hover{
    background-color:rgb(15, 15, 15);
}